@import 'nib'
@import 'typographic'
@import 'styl/*'

/* normalize browser CSS */
normalize-html5()
normalize-base()

rupture.base-font-size = 1em
rupture.enable-em-breakpoints = true
rupture.anti-overlap = 1px 0.0625em 0.0625rem

html
  font-family brandon-grotesque
  color $primary-text

.fa-circle
  color $accent-color

.navbar
  background $primary-color
  color $text-color
  height 4em
  width 100%
  display flex

.logo-area
  font-family Voga-Medium
  font-size 3em
  letter-spacing 0.1em
  fb(row,1,flex-start,center)
  width 50%
  position relative
  left 10px

.menu
  fb(row,2,flex-end,center)
  width 50%
  position relative
  right 10px

.menu-normal
  hide()

img
  width 100%