/* define mixins */


/* flexbox mixin */
fb(dir1, n, dir2, dir3)
  display: flex
  flex-direction: dir1
  order: n
  justify-content: dir2
  align-items: dir3

/* show mixin */
show()
  display: block
  visibility: visible

/* hide mixin */
hide()
  display: none
  visibility: hidden