/* Define variables */

/* colors styles */
$primary-color = #00bcd4
$dark-primary-color = #0097a7
$light-primary-color = #b2ebf2
$text-color = #fff
$accent-color = #cddc39
$primary-text = #212121
$secondary-text = #727272
$divider-color = #b6b6b6



/* fonts styles */
@font-face
    font-family: 'Voga-Medium'
    src: url('../fonts/Voga-Medium.otf') format('opentype')
