/* Define variables */

/* colors setting */
$primary-color = #5d5d5d
$secondary-color = pink

/* fonts setting */
@font-face
    font-family: "JosefinSans-Light"
    src: url('../fonts/JosefinSans-Light.ttf') format('truetype')

@font-face
    font-family: 'Voga-Medium'
    src: url('../fonts/Voga-Medium.otf') format('opentype')

$primary-font-color = #444
$secondary-font-color = #fff